*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin:auto;
    width:90%;
    height:150vh;
    padding:0;
    box-sizing: border-box;
    background-color: gray;
}
header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: black;
    width:100%;
}

.header-container{
    margin-left:30px;
}

.header-container h1{
    color:white;
    font-size:20px;
}

    .header-container p{
    color:white;
}
.navigation-container{
    display:flex;
    float:right;
    top:0;
    position:sticky;
    margin-bottom:-50px;
}

.navigation-container li{
    list-style:none;
    display:inline-flex;
    margin-right:30px;

}

.navigation-container li a{
    text-decoration: none;
    color:white;
    transition: 1s ease;
}

.navigation-container li a:hover{
    color:red;
}


#blog-post1{
    padding-bottom:40px;
}

#blog-post1 p img{
    float:left;
    margin-right:20px;
}

.table-container{
    margin:20px 0px;
    padding-top: 20px;
    padding-bottom:20px;
    text-align:center;
    border: solid green 5px;
}

.table-container .table-content th{
    font-weight:600;
    font-size:20px;
    padding-left:10px;
}


#blog-post2{
    padding-bottom:40px;
}

#blog-post2 p img{
    float:left;
    margin-right:20px;
    padding-bottom: 20px;
}


.preview-wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
}

.week6{
    margin-right:20px;
    background-color:white;
    color:black;
    text-align:center;
    padding:10px 10px;
}

.week7{
    background-color:black;
    color:white;
    padding:10px 10px;
    text-align:center;
}

#about p img{
    float:left;
    margin-right:30px;
}

.form{
    display:flex;
    flex-direction: column;
}

.form label{
    padding-bottom: 20px;
}

.caption{
    float:left;
    margin: 0px 15px 15px 20px;
    padding: 15px;
    border: 1px solid black;
    text-align:center;
}

@media (max-width:400px) {
   .nav-links{
       display:flex;
       flex-direction:column;
       position:fixed;
       margin:0 auto;
       background-color: black;
       
    
   }

   .nav-link{
       margin-top:10.5px;
   }

   .header-container h1{ 
       color:chartreuse;
   }

   
}





