*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    display:flex;
    width:90%;
    margin:auto;
    align-content:center;
    justify-content:space-between;
    background-color:black;
    color:white;
    height:20vh;
}

.intro{
    margin:10px;
    padding-left: 10px;
}


.nav-links{
    list-style:none;
}
.nav-links li{
    display:inline-block;
    list-style:none;
    padding-right: 20px;
}

.nav-link{
    text-decoration:none;
    color:white;
    font-size:1.1em;

}

.nav-link:hover{
    background-color:red;
}

.blog-wrapper{
    width:90%;
    height:80vh;
    margin:auto;
    padding-top: 10px;
}

.blog-post1{
    font-weight: 400px;
}
#blog-post2 h2{
    color:red;
    font-weight: 400px;
}

.form-wrapper{
    width:90%;
    height:80vh;
    margin:auto;
    display:flex;
    
}

.form{
    display:flex;
    margin-top:50x;
    flex-direction:column;
}

.form label{
    margin-bottom:20px;
}


.bttn{
    width:65px;
}







